@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f5f5f5;
  font-family: 'Poppins', sans-serif;
}
@layer utilities {
  .rotate-135 {
    transform: rotate(135deg);
  }
  .w-27 {
    width: 27.2%;
  }
}
