@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f5f5f5;
  font-family: 'Poppins', sans-serif;
}
@layer utilities {
  .h-105 {
    height: 50vh;
  }
  .rotate-135 {
    transform: rotate(135deg);
  }
  .w-27 {
    width: 27.2%;
  }
  .left-85 {
    left: 98.5%;
  }
  .bottom-30 {
    bottom: 55%;
  }
  .underline-offset-14 {
    text-underline-offset: 14px;
  }
  .w-62 {
    width: 62%;
  }
  .w-70 {
    width: 62%;
  }
}
